body {
	width: 100%;
}

.wrapper {
	width: 400px;
	margin: 0 auto;
}

.header {
	height: 100px;
	background-color: #141f40;
}

.side {
	float: right;
	width: 150px;
	height:250px;
	background-color: #80bfa8;	
}

.content {
	float: left;
	width: 250px;
	height: 250px;
}

.content-top-right {
	float: right;
	width: 150px;
}

.content-top-right-top {
	height: 50px;
	background-color: #8c2727;
}

.content-top-right-bottom {
	height: 100px;
	width: 150px;
	background-color: #ff9e6b;
}

.content-top-left {
	height: 150px;
	weight:100px;
	background-color: #dbd403;
}

.content-bottom {
	height: 100px;
	background-color: #0093b7;
}	

.footer {
	height: 100px;
	background-color: #d98d30;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

